<ion-toolbar>
  <ion-item class="logo" lines="none">
    <ion-icon slot="start" size="large" src="assets/images/abc.svg"></ion-icon>
    <ion-label>Nima</ion-label>
  </ion-item>
  <ion-buttons slot="end">
    <ion-icon size="large" name="log-out-outline" class="ion-margin-end" (click)="logout()"></ion-icon>
  </ion-buttons>
</ion-toolbar>



<ion-content>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="language"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="changeLanguage('pt')"><ion-icon size="large" src="assets/languages/002-portugal.svg"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="changeLanguage('en')"><ion-icon size="large" src="assets/languages/001-united-kingdom.svg"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="changeLanguage('es')"><ion-icon size="large" src="assets/languages/003-spain.svg"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-tabs>

  <div class="tabs">
    <ion-tab-bar slot="bottom" translucent=“true”>
      <ion-tab-button tab="animales">
        <ion-icon src="assets/images/animals/paw.svg"></ion-icon>
        <ion-label>{{ 'Animals.plural' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="colores">
        <ion-icon src="assets/images/colors/paint.svg"></ion-icon>
        <ion-label>{{ 'Colors.plural' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="numeros">
        <ion-icon src="assets/images/numbers/numbers.svg"></ion-icon>
        <ion-label>{{ 'Numbers.plural' | translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    </div>
  </ion-tabs>

</ion-content>