.b-bottom{
    border-bottom: 2px solid #737373;
}   
.big{
    font-size: 3.5rem;
    margin-top: 0;
}
.bienvenida{
    margin: 25px 0 40px;
}
.error-message{
    font-size: 14px;
    color: #9a9a9a;
    margin-left: 17px;
}

ion-label#ion-input-0-lbl, ion-label#ion-input-1-lbl {  
    color: #5d5d5d!important;
}

.enter{
    --background: #ff94b4;
    height: 4rem;
    --border-radius: 15px;
    --box-shadow: none;
    position: absolute;
    right: 3%;
    bottom: 7%;
    z-index: 99;
}

.enter ion-icon{
    font-size: 3rem;
    color: white;
}

.bottom-color{
    background: #ececec;
    height: 5rem;
    width: 110%;
    margin-left: -5%;
    position: absolute;
    bottom: 0;
}

.error-message-2{
    font-size: 14px;
    color: #9a9a9a;
    margin: 30px 20px;
    text-align: center;
}

.cat{
    font-size: 5rem;
}

ion-label#ion-input-4-lbl, ion-label#ion-input-5-lbl {  
    color: #5d5d5d!important;
}