<ion-content>

  <ion-grid>    

    <ion-row *ngFor="let color of colores; let i = index">
      <ion-col>
        <ion-card class="card color" [attr.color-index]="color.name">
          <ion-row class="info">
            <ion-col size="5">
              <ion-card-subtitle>{{color.type | translate}}</ion-card-subtitle>
              <ion-card-title class="name b-line">{{color.name | translate}}</ion-card-title>
              <ion-item lines="none" *ngIf="!isPlaying || color != activeItem">
                <ion-icon slot="start" size="large" name="play-circle" (click)="playSound(color)"></ion-icon>
                <ion-label>{{"Play" | translate}}</ion-label>
              </ion-item>
              <ion-item lines="none"  *ngIf="isPlaying && color == activeItem">
                <ion-icon slot="start" size="large" name="pause-circle" (click)="togglePlayer(true)"></ion-icon>
                <ion-label>{{"Play" | translate}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="7">              
              <ion-icon class="image" src="{{color.image | translate}}"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card>        
      </ion-col>
    </ion-row>

    <div class="empty"></div>

  </ion-grid>

</ion-content>
