<ion-content>

  <ion-grid>    

    <ion-row *ngFor="let animal of animales; let i = index">
      <ion-col>
        <ion-card class="card animal" [attr.color-index]="i">
          <ion-row class="info">
            <ion-col size="5">
              <ion-card-subtitle>{{animal.species | translate}}</ion-card-subtitle>
              <ion-card-title class="name b-line">{{animal.name | translate}}</ion-card-title>
              <ion-item lines="none" *ngIf="!isPlaying || animal != activeAnimal">
                <ion-icon slot="start" size="large" name="play-circle" (click)="playSound(animal)"></ion-icon>
                <ion-label>{{"Play" | translate}}</ion-label>
              </ion-item>
              <ion-item lines="none" *ngIf="isPlaying && animal == activeAnimal">
                <ion-icon slot="start" size="large" name="pause-circle" (click)="togglePlayer(true)"></ion-icon>
                <ion-label>{{"Play" | translate}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="7">              
              <ion-icon class="image" src="{{animal.image | translate}}"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card>        
      </ion-col>
    </ion-row>

    <div class="empty"></div>

  </ion-grid>

</ion-content>
