.b-bottom{
    border-bottom: 2px solid #737373;
}   
.big{
    font-size: 3.5rem;
    margin-top: 0;
}
.bienvenida{
    margin: 25px 0 40px;
}
.error-message{
    font-size: 14px;
    color: #9a9a9a;
    margin-left: 17px;
}

ion-label#ion-input-0-lbl, ion-label#ion-input-1-lbl {  
    color: #5d5d5d!important;
}

.scroll-content {
  padding-bottom: 0 !important;
}

.bottom-content{
    background: #ececec;
    height: 5rem;
    width: 110%;
    margin-left: -5%;
    position: absolute;
    bottom: 0;
}

.error-message-2{
    font-size: 14px;
    color: #9a9a9a;
    margin: 30px 20px;
    text-align: center;
}

.cat{
    font-size: 5rem;
}

ion-footer ion-button{
  --background: none;
  --box-shadow: none;
  --color: #585858;
  float: left;
}

.enter{
  background: #7bc9ec;
  height: 4rem;
  border-radius: 15px;
  float: right!important;
  margin-right: 15px;
  margin-bottom: -30px;
}

.enter ion-icon{
    font-size: 3rem;
    color: white;
}

ion-footer ion-toolbar{
  --background: #f3f3f3;
  padding-top: 20px;
  z-index: -1;
}


#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    background-color: white;
  }
  
  .flb {
    background-color: #efefef;
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  #custom-overlay img {
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;
  }

  @keyframes pulse {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .icono h2{
      font-size: 2rem;
  }

  .nombre{
      position: absolute;
      bottom: 0;
  }

  .nombre h2{
    padding-bottom: 5px;
    margin-bottom: -5px;
    border-bottom: 1px solid #dedede;
  }

  //Animations
  .roll-in-left {
	-webkit-animation: roll-in-left 0.8s ease-out 1s both;
	        animation: roll-in-left 0.8s ease-out 1s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-5-1 20:7:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes roll-in-left {
    0% {
      -webkit-transform: translateX(-800px) rotate(-540deg);
              transform: translateX(-800px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
  

  .tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-5-1 20:3:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-1 20:5:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  .slide-out-fwd-center {
	-webkit-animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-fwd-center 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-1 20:8:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-fwd-center {
    0% {
      -webkit-transform: translateZ(1);
              transform: translateZ(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
  }
  @keyframes slide-out-fwd-center {
    0% {
      -webkit-transform: translateZ(1);
              transform: translateZ(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
  }
  

  .fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
    display: none;
  }

  .fade-in-bottom {
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-1 20:47:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
