<!--SPLASH-->
<div id="custom-overlay" [ngClass]="{'fadeOut': fade}" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="icono">
      <div class="icono roll-in-left"> <img class="" style="width: 100%;" src="assets/images/abc3.svg"></div>
      <div><h2 class="ion-text-center tracking-in-expand">NIMA</h2></div> 
    </div>    
    <div class="nombre ion-text-center fade-in-bottom">
      <h2 class="">Mariano Camara</h2>
      <p>Práctica profesional <br>
        <strong> Division: </strong>4B</p>
      </div>
    </div>
  </div>
  <!--SPLASH-->
  
  
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon class="ion-margin-start" size="large" src="assets/images/abc.svg"></ion-icon> 
      </ion-buttons>
      <ion-buttons slot="end" class="ion-margin-end">
        <ion-button class="b-bottom">
          Ingresar
        </ion-button>
        <ion-button (click)="goToRegisterPage()">
          Registrarse
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    
    <div class="bienvenida">
      
      <ion-icon class="cat" src="assets/images/animals/fox.svg"></ion-icon> 
      <h1 class="big">Hola!</h1>
      <h1>Nos alegra verte <br> de vuelta.</h1>
    </div>
    
    <form class="form" [formGroup]="validations_form">
      
      <ion-item class="ion-margin-bottom">
        <ion-label  position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      
      <ion-item>
        <ion-label  position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      
      <div class="error-message-2">{{errorMessage}}</div>
    </form> 
    
  </ion-content>
  
  <ion-footer class="ion-no-border">
    <ion-button class="enter" (click)="loginUser(validations_form.value)" [disabled]="!validations_form.valid"><ion-icon name="log-in-outline"></ion-icon></ion-button> 
    <ion-toolbar>
      <ion-button class="ingresos" expand="full" (click)="presentActionSheet()" >Ingresar como</ion-button>
    </ion-toolbar>
  </ion-footer>
